#container{
	width:1600px;
	height:1000px;
}
#header{
	width:2950px;
	height:50px;
	align:left;}

img{
border:2px solid blue;
overflow:hidden;
}

h1{color:yellow;
text-align:left;

}
p#two{
width:520px;
margin-left:500px;
font-size:17px;
font-weight:bold;
color:white;}


h3{color:blue;
float:right;
margin-top:-380px;
margin-left:1000px;
}
h3:hover{
text-decoration:underline;
color:red;
}

h1#one{
float:right;
margin-top:-480px;
margin-right:10px;}
img#two{
float:right;

margin-right:200px;
margin-top:-410px;}
p#one{
float:right;
margin-top:-355px;
margin-right:10px;
color:white;
width:200px;
}
p#edit{
float:right;
margin-right:50px;
margin-top:-410px;
color:white;}

p#continue{color:white;
font-weight:bold;
font-size:17px;
margin-top:-10px;
width:1050px;}

 h1#one:hover{
text-decoration:underline;}

img#three{
float:right;
margin-top:-270px;
margin-right:200px;}

p#edit2{
float:right;
margin-right:50px;
margin-top:-265px;
color:white;
}
 
h3#id1{
color:blue;
float:right;
margin-top:-242px;
margin-right:40px;}
h3#id2:hover{
text-decoration:underline;
color:red;}

h3#id2{
color:blue;
float:right;
margin-top:-384px;
margin-right:10px;}

h3#id1:hover{
text-decoration:underline;
color:red;}
p#next{
float:right;
margin-top:-220px;
color:white;
width:200px;
margin-right:10px;}

img#four{
float:right;
margin-top:-140px;
margin-right:200px;}

p#edit3{
float:right;
margin-top:-140px;
margin-right:60px;
color:white;}

h3#id3{
margin-top:-110px;
margin-right:10px;}

p#next1{
float:right;
color:white;
width:210px;
margin-top:-80px;}

h1#A{
color:grey;
text-align:center;}

#B{
padding-left:100px;
border:none;
}
#C{
padding-left:100px;
border:none;
}
#D{
padding-left:900px;
margin-top:-200px;
border:none;
}

#B:hover{
width:400px;
height:300px;}
#C:hover{
width:400px;
height:300px;}
#D:hover{
width:400px;
height:300px;}
li#one{
color:white;
font-weight:bold;
list-style-type:none;
margin-left:150px;
font-size:20px;
}
li#one:hover{
font-size:30px;
color:blue;
background-color:black;
width:130px;}

li#two{
color:white;
font-weight:bold;
list-style-type:none;
margin-left:550px;
margin-top:-32px;
font-size:20px;
}
li#two:hover{
font-size:30px;
color:blue;
background-color:black;
width:130px;}
li#three{
color:white;
font-weight:bold;
list-style-type:none;
margin-left:1000px;
margin-top:-22px;
font-size:20px;
}
li#three:hover{
font-size:30px;
color:blue;
background-color:black;
width:80px;}
 
