body
{
background-image: url(hotelbooking.jpg);
background-repeat: no-repeat;
background-size: cover; 
}
.head
{
text-align: center;
background-color: #9999ff;
margin-right: 360px;
margin-left: 540px;
}
.form
{
margin-left: 540px;
margin-right: 360px;
background-color: #cc99ff;
color: white ;
}
.button
{
background-color: #0033cc;
text-align: center;
color: #cc33ff;
width: 100px;
}